<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
				</button>
				<div class="modal-body">Would you like to save your card?</div>
				<div class="modal-footer">
					<button class="btn btn-success">Save Card</button>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="container mt-5">
	<form [formGroup]="creditCardForm">
		<div class="col-md-5">
			<label for="customerId" class="form-label">customerIdr</label>
			<div class="form-group mb-3">
				
				<input type="text" class="form-control" id="customerId" formControlName="customerId" placeholder="userId">
			</div>
		</div>
		<div class="col-md-5">
			<label for="cardNumber" class="form-label">Card Number</label>
			<div class="form-group mb-3">
				
				<input type="text" class="form-control" id="cardNumber" formControlName="cardNumber" placeholder="cardNumber">
			</div>
		</div>
		<div class="col-md-5">				
			<label for="fullName" class="form-label">Full Name</label>
			
			<div class="form-group mb-3">
	<input type="text" class="form-control" id="fullName" formControlName="fullName" placeholder="Full Name">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			<label for="expirationMonth" class="form-label">expirationMonth</label>
			<div class="form-group mb-3">
					<input type="number" class="form-control" id="expirationMonth" formControlName="expirationMonth" placeholder="expirationMonth">
			</div>
		</div>
		<div class="col-md-2">
		<label for="expirationYear" class="form-label">expirationYear</label>
				<div class="form-group mb-3">
					<input type="number" class="form-control" id="expirationYear" formControlName="expirationYear" placeholder="expirationYear">
			</div>
		</div>
		</div>
	
		<div class="col-md-2">
		<label for="cvv" class="form-label">CVV</label>
				<div class="form-group mb-3">
					<input type="number" class="form-control" id="cvv"  formControlName="cvv" placeholder="CVV">
			</div>
		</div>
		<div class="col-md-5">
			<div class="mb-3">
				<button class="btn btn-danger" (click)="pay()">Pay</button>
			</div>
		</div>
	</form>


</div>
<!-- <div class="container mt-5">
	<div class="col-md-5">
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Customer Id</label>
			<input type="number" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
		</div>
	</div>
	<div class="col-md-5">
		<div class="mb-3">
			<label for="rentdate" class="form-label">Rent Date</label>
			<input type="date" class="form-control" id="rentdate" placeholder="name@example.com">
		</div>
	</div>
	<div class="col-md-5">
		<div class="mb-3">
			<label for="returndate" class="form-label">Return Date</label>
			<input type="date" class="form-control" id="returndate" placeholder="name@example.com">
		</div>
	</div>
	<div class="col-md-5">
		<button class="btn btn-primary" routerLink="creditcard">
			Payment
		</button>
	</div>

	<div class="col-md-5">
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Customer Id</label>
			<input type="number" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
		</div>
	</div>
</div> -->