<div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
	<span class="visually-hidden">Loading...</span>
</div>

<div *ngIf="dataLoaded!=false" class="card">
	<div class="card-header">
		<table class="table">
			<thead>
			<tr>
			   <th>CarID</th>
			   <th>Brand Name</th>
			   <th>Color Name</th>
			   <th>Daily Price</th>
			   <th>Description</th>
			   <th>Model Year</th>
			</tr>
		   </thead>
		</table>
		
	</div>
	<div *ngFor="let car of cars" class="card-body">
		<table class="table">
			<tbody class="tbody" (click)="setCurrentCarDetails(car)" routerLink="/cars/{{car.carId}}">
			 <tr>
				<td>{{car.carId}}</td>
				<td>{{car.brandName}}</td>
				<td>{{car.colorName}}</td>
				<td>{{car.dailyPrice}}</td>
				<td>{{car.descriptions}}</td>
				<td>{{car.modelYear}}</td>
			  </tr>
			</tbody>	
		</table>
	</div>
 
</div>

