<div class="container mt-4 p-4">
	<div class="container mt-3">
		<div class="mb-3">
			<input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search...">
		</div>
		<div *ngIf="filterText" class="alert alert-primary mb-3">
			{{filterText}} aradınız!
		</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Brand Name</th>
						</tr>
					</thead>
					<tbody (click)="setCurrentBrand(brand)" *ngFor="let brand of brands | filterBrand:filterText"
					routerLink="/cars/brand/{{brand.brandId}}">
						<tr>
							<td>
								{{brand.brandName}}	
							</td>
							<td *ngIf="isAuthentication()"><button class="btn btn-warning" routerLink="update/{{brand.brandId}}">Update</button></td>
							<td *ngIf="isAuthentication()"><button class="btn btn-danger" (click)="delete(brand)">Delete</button></td>
						</tr>
					</tbody>
				</table>
			<div >
				
		
		</div>

	</div>
</div>